# -------------------------------
# Sensitive configuration files
# -------------------------------
/App/Config/email_config.php
.env                           
/App/Config/database_connect.php
# -------------------------------
# Third-party libraries
# -------------------------------
/vendors/                       
/node_modules/

# -------------------------------
# Logs & temporary files
# -------------------------------
*.log
*.tmp
*.cache

# -------------------------------
# OS and IDE files
# -------------------------------
*.DS_Store
*.vscode/
*.idea/
Thumbs.db
