
# -------------------------------
# Logs & temporary files
# -------------------------------
*.log
*.tmp
*.cache

# -------------------------------
# OS and IDE files
# -------------------------------
*.DS_Store
*.vscode/
*.idea/
Thumbs.db
